In [71]:
import pandas as pd

## lets create a simple Data frame

In [72]:
import numpy as np
columnA = pd.Series(np.ones(100))
columnB = pd.Series(np.ones(100))
columnB[:12] = 0
columnC = pd.Series(np.random.randint(15,35, size=100))
features = pd.concat([columnA,columnB,columnC], axis=1)

In [73]:
df = pd.DataFrame(features) 
df.columns=['columnA', 'columnB', 'columnC']

In [75]:
df.tail()

    columnA  columnB  columnC
95      1.0      1.0       32
96      1.0      1.0       25
97      1.0      1.0       26
98      1.0      1.0       22
99      1.0      1.0       26

## Lets split the data between train and test set

In [76]:
train_set = df[:70]
test_set =df[70:]

In [77]:
test_set

    columnA  columnB  columnC
70      1.0      1.0       30
71      1.0      1.0       19
72      1.0      1.0       30
73      1.0      1.0       26
74      1.0      1.0       16
75      1.0      1.0       22
76      1.0      1.0       20
77      1.0      1.0       28
78      1.0      1.0       30
79      1.0      1.0       23
80      1.0      1.0       31
81      1.0      1.0       34
82      1.0      1.0       20
83      1.0      1.0       26
84      1.0      1.0       16
85      1.0      1.0       30
86      1.0      1.0       32
87      1.0      1.0       15
88      1.0      1.0       33
89      1.0      1.0       25
90      1.0      1.0       31
91      1.0      1.0       32
92      1.0      1.0       28
93      1.0      1.0       29
94      1.0      1.0       25
95      1.0      1.0       32
96      1.0      1.0       25
97      1.0      1.0       26
98      1.0      1.0       22
99      1.0      1.0       26

we can see that the Marks are same for all the students, so the variance of this column will also be zeros. however lets verify the same

In [78]:
train_set['columnA'].var()

0.0

In [79]:
train_set['columnB'].var()

0.1440993788819876

In [80]:
train_set['columnC'].var()

33.840372670807454

we can see that marks has only one value and is constant

In [81]:
from sklearn.feature_selection import VarianceThreshold
import warnings
warnings.filterwarnings('ignore')

## Create an instance of variance threshold method

In [82]:
constant_feature_selector = VarianceThreshold(threshold=0)

In [83]:
constant_feature_selector.fit(train_set)

VarianceThreshold(threshold=0)

In [84]:
constant_feature_selector.get_support()

array([False,  True,  True])

#### lets verify which columns have been selected by our feature selector

In [85]:
train_set.columns[constant_feature_selector.get_support()]

Index(['columnB', 'columnC'], dtype='object')

we can see that our feature selector has selected columnB and columnC , as the variance of feature A is 0

## We can see that our selector has selected the feature so lets transform our dataset now

In [86]:
train_set = constant_feature_selector.transform(train_set)
test_set= constant_feature_selector.transform(test_set)

In [87]:
train_set[:5,]

array([[ 0., 31.],
       [ 0., 34.],
       [ 0., 23.],
       [ 0., 31.],
       [ 0., 32.]])